body{
    margin: 0;
}

 /*css color */

.rgb{
    height: 200px;
    width: 200px;
    background-color: rgb(180,190,230);
}
 
.rgba{
    height: 200px;
    width: 200px;
    background-color: rgba(0 ,120 ,255 ,1);
} 


.hex{
    height: 200px;
    width: 200px;
    background-color: #ff00ff;
}

 .hsl{
   height: 200px;
   width: 200px;
   background-color: hsl(0, 100%, 50%)
}  

/* 2. CSS background properties */

.back_image
{
/*background-image: url('logo.jpg'); */
   background-color: blue;
   background-repeat:no-repeat;
   border: 50px solid transparent;
   padding: 40px;
   background-size: cover;
   height: 300px;
   width: 300px;

   background-clip:content-box;
   background-origin: content-box;
}
 
.linear-garadient-1
{
    height: 200px;
    width: 200px;
    background: linear-gradient(to right,blue ,red ,yellow);
    /* line color blur */
} 

.diagonal-linear-gradient
{
    height: 200px;
    width: 200px;
    background: linear-gradient(to 
    top,red 50% ,yellow 30% );
    /* part two color */
}

.linear-gradient-raindow
{
    height: 200px;
    width: 200px;
    background: linear-gradient(to top , red ,orange ,yellow,green ,blue ,indigo ,navy);
    /* raindow color */
}


.radial-gradient-simple
{
    height: 200px;
    width: 200px;
    background: radial-gradient(red ,orange ,yellow ,green ,blue ,pink ,navy);
    /* all color bulr round */

}
 
.radial-gradient
{
    height: 200px;
    width: 200px;
    background: radial-gradient(circle farthest-corner at top, red ,blue);
    /* any one side haf round color layer */
} 

.bullseye
{
      height: 200px;
      width: 200px;
      background: repeating-radial-gradient(red,red 5%,white ,white 20%);
      /* round color */
}

.warning{
   height: 200px;
   width: 200px;
   background: repeating-linear-gradient(-30deg ,yellow, yellow 10%, pink 10% , pink 20%);
   /*  rigth to left dobbel color line */
}

.conic
{
    height: 200px;
    width: 200px;
     background-color: red; 
    background: radial-gradient(circle, navy 0%, pink 47% , white 100%);
     /* blur round color
       */
}

/* 3. CSS border types */

.border
{
    height: 200px;
    width: 200px;
    border: 20px outset darkorchid;
    margin: 50px;
    border-radius: 50px;
}

/* 4.Border radius */

/* 5.CSS outline property */
   /* outline:none;
      outline:width style color */

.outline{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    outline: 10px inset coral;
    margin: 100px;
    outline-offset: 50px;
}

/* 6.CSS opacity */

.opacity{
    opacity: 90%;
    background-color: green;
    height: 250px;
    width: 400px;
}
