/* 1 time */
.h-w{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 2 time */
.img{
    width: 50%;
}

.center-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 3 time */
.center-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 4 time */
.parent{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

/* 5 time */
.parent{
    display: grid;
}
.child{
    place-self: center;
}