@import './variable';

/*@mixin flexbox(){
    height: $h-3;
    width: $w-3;
    background-color: $bg-2;
    @content;
}

.box-1{
    @include flexbox
}

.box-2{
    @include flexbox(){
        height: $h-2;
        width: $w-2;
        background-color: $bg-4;
    }
}

.box-3{
    @include flexbox(){
        height: $h-1;
        width: $w-1;
        background-color: $bg-3;
    }
}*/



/*@mixin theme($theme: rgb(239, 9, 151)) {
    background: $theme;
    box-shadow: 0 0 1px rgba($theme, .25);
    color: #fff;
    height: $h-2;
    width: $w-2;
}
  
.box-1{
    @include theme;
}
.box-2{
    @include theme($theme: rgb(128, 24, 213));
}
.box-3{
    @include theme($theme: rgb(146, 240, 31));
}*/




%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}
  
// This CSS won't print because %equal-heights is never extended.
%equal-heights {
    display: flex;
    flex-wrap: wrap;
}
  
.box-1{
    @extend %message-shared;
    height: $h-2;
    width: $w-2;
    background-color: $bg-2
}
  
.box-2{
    @extend %message-shared;
    border-color: green;
    height: $h-2;
    width: $w-2;
    background-color: $bg-3;
}
  
.box-3{
    @extend %message-shared;
    border-color: red;
    height: $h-2;
    width: $w-2;
    background-color: $bg-4;
}
