$bg-1: rgb(155, 103, 112);
$bg-2: rgb(128, 0, 128);
$bg-3: rgb(255, 0, 0);
$bg-4: rgb(26, 176, 176);
$bg-5: rgb(59, 238, 31);
$bg-6: yellow;
$bg-7: rgb(227, 151, 12);
$bg-8: rgb(239, 14, 111);
$bg-9: rgb(156, 10, 240);
$bg-10: rgb(57, 57, 188);